@use "base/variables" as v;
@use "base/mixins" as m;
.descripcion {
  @include m.espaciado(120rem);
  
  @include m.desktop {
    @include m.grid(2, 2rem);
  }
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 125rem;

  &__cards {
    padding: 0 calc(v.$separacion / 2);
    @include m.tablet {
      @include m.grid(3, 2rem);
    }
  }
  &__img {
    height: 10rem;
  }
}
